/* 
@Filename: index.css
@Author: 임다정 (dazoo0221@gmail.com)
@description: CSS common apply it.
*/


/* 사용자 페이지의 공통으로 적용될 CSS 파일입니다. */
@charset "utf-8";


/* 공통영역 */

.container{
    width: 1200px;
    min-height: 1000px;
    margin: auto;
}

/* 헤더영역 */
.logo{
    width: 100px;
    height: 100px;
}



/* 컨텐츠영역 */





/* 푸터영역 */